<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/skyviewer.css') }}">
    <title>SkyViewer</title>
</head>
<body onload="loadVersion()">
    <div class="bg-start">
        <div class="vignette">

                <div class="title">
                    <h1 id="title-text" class="title-text">SKYVIEWER</h1>
                    <h3 class="tagline-text">The Astronomer's Guide to the Sky</h3>
                </div>
                <div id="popupModal" class="modal">
                    <div class="modal-content" style="color:black; text-align: center;">
                        <span class="close">&times;</span>
                        <h2>SkyViewer Changelog</h2>
                        <h4>Version 1.0.3</h4>
                        <p>Text box on pagination for easy search</p>
                        <h4>Version 1.0.2</h4>
                        <p>UI improvements</p>
                        <p>Small bug fixes</p>
                        <h4>Version 1.0.1</h4>
                        <p>Specify time zone for epoch</p>
                        <p>Small fix to current time ground track</p>
                        <h4>Version 1.0.0</h4>
                        <p>Dynamic generation of ground tracks</p>
                        <p>Re-organization of the results page</p>
                        <p>In sun, next pass calculations</p>
                        <p>Removed observations page</p>
                        <p>Propagation restrictions to ensure accurate results</p>
                        <p>Re-wrote help page</p>
                        <p>Added info page about propagation restrictions</p>
                        <h4>Version 0.2.0</h4>
                        <p>GROUND TRACKS!</p>
                        <p>Period, launch year</p>
                        <p>Changed default search term from empty string to ISS to save time loading</p>
                        <h4>Version 0.1.2</h4>
                        <p>Introduced caching for pages you've already loaded, reducing load times</p>
                        <p>Loading feedback on select satellite page</p>
                        <p>Added content to help page</p>
                        <h4>Version 0.1.1</h4>
                        <p>Fixed mobile sizing issues for title screen</p>
                        <p>Increased contrast of select satellite button text against background</p>
                        <p>Fixed return button on help screen</p>
                        <p>Changed labels for azimuth and elevation from dms to degrees</p>
                        <h4>Version 0.1.0</h4>
                        <p>Created changelog</p>
                        <p>&#127775 BEAUTIFICATION &#127775</p>
                        <p>Autofill observation prompts with current user time and location</p>
                        <p>Update labels to be more appropriate, made units consistent</p>
                        <p>Added progress bar</p>
                        <p>Fixed observation time milliseconds only displaying one digit</p>
                        <h4>Version 0.0.0</h4>
                        <p>SkyViewer created</p>
                    </div>
                </div>

                <div class="buttons">
                    
                    <table>
                        <tr>
                            <th style="padding-bottom:2%"><button class="button-main" onclick="window.location.href = '/sat-search'">Start</button></th>
                        </tr>
                        <tr>
                            <th style="padding-bottom:2%"><button class="button-main" id="openPopup">Changelog</button></th>
                        </tr>
                        <tr>
                            <th><button class="button-main" onclick="window.location.href='/usage-guide'">Help</button></th>
                        </tr>
                    </table>
                </div>

                <div class="footer">
                    <p>&copy; Aidan Velleca | <span id="version">vX.X.X</span></p>
                </div>

                <script src="{{ url_for('static',filename='javascript/popup.js') }}"></script>
        </div>
    </div>
</body>
</html>

