<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/skyviewer.css') }}">
    <title>Usage Guide</title>
    <style>
        body{
            background-color: #f0f0f0;
        }

        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            padding: 0 5% 0 5%;
        }

        p {
            margin-left: 10%;
            margin-right: 10%;
        }
        ul {
            margin-left: 12%;
            margin-right: 10%;
        }
        img{
            width: 70%;
            height: auto;
            border: 2px solid #333; /* Visible border for images */
            margin: 15px 0; /* Add spacing around images */
        }
    </style>
</head>
<body>
    <div class="content">
        <h1>How to Use SkyViewer</h1>
        <p>
            Welcome to SkyViewer! Skyviewer is a custom-built satellite tracking website I am building. I intend to use it as a platform to not only share satellite data,
            but serve as an educational resource for beginners about concepts I found difficult, such as the countless amounts of frames defined by
            convention in astrodynamics.
        </p>
        <p>
            Your first step will be choosing which satellite you want to gather information on. All of the information is collected from the NASA two-line element API. Two line elements are basically
            just a format for sharing satellite observations in, well, two lines. The initial search is "ISS", and you can search for any satellite you'd like and get matching results. Submitting an empty
            search will return all the satellites in the database, but this is not recommended, unless you like to wait. The more broad the search, the longer it will take the API to return the results. To proceed
            from this page, click the select button next to your satellite of your choice to get to its results page.
        </p>
        <p>
            Once you select a satellite with its select button, you will be taken to the results page. This is the page where you can see all of the information about a satellite! The first section is general information,
            and contains unpacked TLE data you are welcome to browse through. However, the most exciting part is below. This contains information that may be relevant to you, such as a ground track, next passes above a certain
            altitude, and if the satellite is sunlit.
        </p>
        <img src="{{ url_for('static',filename='images/ground_track.png') }}">
        <p>
            This image shows the first section of the results page where you can enter data. We have some pretty important fields here.
        </p>
        <ul>
            <li>Time Zone (1): This is where you can enter whatever time zone (UTC offset) you want to use in the program. This is considered the "reference time zone," since this is the time zone that is used throughout the
                entire page. If you check "set current," it will use the current system time zone. Enabled by default.</li>
            <li>Latitude and Longitude (2): This is where you can enter whatever latitude and longitude you want to use in the program. This is considered the "reference location," since this is where the user is assumed to be throughout the
                entire page. If you have location enabled, you can use the "set current" button to use your current location. Enabled by default.</li>
            <li>Ground Track Settings (3): This is where you can modify how the ground track appears. The ground track will use your current location and time zone. The start at dropdown determines what the reference time is for the satellite.
                A green dot will show up on the ground track to show where the satellite is at that time. The periods slider will determine how many periods to plot on the ground track. The direction field will determine which direction to show the 
                ground track. If you select "forward," you will see the ground track however many periods specified after the reference time. If you select "backward," you will see before the reference time. "Bidirectional" will plot half the periods
                before and half the periods after. Finally, if you make changes, you will, at least for now, have to click "Generate Plot" to refresh the ground track. I know, I know, I'm working on live refresh. "Save Plot" will save the plot to your browser.
            </li>
            <li>
                Ground Track Plot (4): This window, generated by Plotly, shows the ground track. Settings at the top allow you to adjust the map.
            </li>
        </ul>
        <img src="{{ url_for('static',filename='images/next_pass_in_sun.png') }}" style="width: 70%">
        <p>
            Below the ground track is the next pass and in sun sections. Next pass only appears if the satellite can be propagated to the current time without exceeding propagation limits.
        </p>
        <ul>
            <li>Next Pass Minimum Elevation (1): This allows you to specify the minimum elevation you want to find when looking for the next pass. Zero by default.</li>
            <li>Output for Next Passes (2): This shows you the times where the satellite will rise above and set below the elevation you set, as well as when it reaches the maximum elevation. Shows all passes within 24 hours, set in your reference time zone.</li>
            <li>Input for Sunlit Status (3): Enter the date and time you'd like to see if the satellite is in sun for here.
            </li>
            <li>
                Submit and Output (4): After selecting "Submit," text will display showing the sunlit status at your selected time.
            </li>
        </ul>
        <p> This should be all you need to know to get started. Enjoy Skyviewer!</p>
    </div>
    <button id="returnButton" onclick="window.location.href='/'"> &lt; </button>
</body>
</html>